@font-face {
	font-family: ecb;
	src: url('../fonts/ecb.ttf');
  }
  
* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	height: 100vh;
	margin: -20px 0 50px;
	background-image: url('../images/reg_bg.jpg');
}

h1 {
	font-weight: bold;
	margin: 0;
	
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
	
}

#a_link {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#btn {
	margin-top: 10%;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	
	width: 50%;
	margin-left: 85px;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#btn:active {
	transform: scale(0.95);
}

#btn:focus {
	outline: none;
}



#reg_btn{
	display: inline-block;
  padding: 0.4em 1.7em;
  width: 49%;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid #FF4B2B;
  border-radius: 2em;
  height: 45px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: black;
  background-color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
}

#reg_btn:hover {
	color: whitesmoke;
	background-color: #FF4B2B;
	border: 1px solid white;
	font-weight: 400;
	box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;

  }

form {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
	height: 75%;
	width: 100%;
	text-align: center;
	font-family: ecb;
	font-size: 18px;
}

input {
	letter-spacing: 1px;
	width: 100%;
	display: block;
	
	font-family: ecb;
	padding-top: 20px;
	
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;

}

input:hover
{
	border-bottom: 1px solid #FF4B2B;
}

input:focus{
	border-bottom: 2px solid #FF4B2B;
	width: 100%;
}

.fade_rule {
	height: 1px;
	background-color: #FFFFFF;
	width: 100%;
	margin-top: -40px;
	
	
	background-image: linear-gradient(left , rgb(201, 27, 27) 2%, #E6E6E6 50%, white 98%);
	background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
	background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
	background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
	background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
	background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, rgba(255, 136, 136, 0.753)), color-stop(0.98, white) );
}


.container1 {
	

	
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 843px;
	margin-right: 5px;
	height: 554px;
	margin-top: 53px;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;

}

.sign-in-container {
	left: 0;
	width:50%;
	z-index: 2;
}




.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}



.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}



.overlay {

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
 
}



.overlay-panel {
	position: absolute;
	
	height: 100%;
	width: 50%;
	
}



.overlay-right {
	right: 0;
	transform: translateX(0);
	background-image: url('../images/bg_login.png');
  background-repeat: no-repeat;
	background-size: cover;
	background-position: 0%;
	margin-bottom: 0px;
	margin-right: 0px;
	
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

#sign_text
{
	font-family: ecb;
	font-size: 52px;
	text-align: left;
	font-size: 400;
	margin-top: 21%;
	
}

#sub_text
{
	font-size: 200;
	font-family: ecb;
	font-size: 12px;
	text-align: left;
	font-size: 400;
	margin-top: 1%;
	margin-left: 11px;
	margin-bottom: 20px;
}

#reg_text{
	font-size: 200;
	font-family: ecb;
	font-size: 18px;
	text-transform: uppercase;
	
	color: #635858c9;
	text-align: center;
}


#bg_managerlogin{
	width: 100%;
}